/*
    NXGallery for Nintendo Switch
    Made with love by Jonathan Verbeek (jverbeek.de)
*/

.grid-cell {
    border-radius: 0;
    margin: 3px;
}

@keyframes frameGlow {
    0% {
        border: 3px solid #50f4dc;
        margin: 0;
    }
    50% {
        border: 3px solid #04c7c3;
        margin: 0;
    }
    100% {
        border: 3px solid #50f4dc;
        margin: 0;
    }
}

.grid-cell:hover {
    animation-name: frameGlow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.grid-cell>img, .grid-cell>video {
    background-repeat: no-repeat;
    width: 100%;
    vertical-align: middle;
}
